<div class="container">
    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <form>
            <br>
            <div class="form-group row">
                <label for="id_room" class="col-form-label col-sm-2">Id Room</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" name="id_room" [(ngModel)]="room.id_room"
                        autocomplete="number" placeholder="Ingresa el numero de id" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="lugar" class="col-form-label col-sm-2">Lugar</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="lugar" [(ngModel)]="room.lugar"
                        placeholder="Ingresa el lugar del room" required>
                </div>
            </div>
            <br>
            <br>

            <br>
            <button class="btn btn-success" role="button" (click)='create()' value="SUBMIT"> REGISTRAR SALA</button>


            <button class="btn btn-info" role="button" (click)='update()'> MODIFICAR SALA</button>


        </form>
    </div>

</div>